body{
width:100%;
height:100%;
position:absolute;
padding:0px;
margin:0px;
font-size:100%;
}
h1{
color:yellow;
font-family:Verdana;
font-size:200%;
}
h3{
color:yellow;
font-family:Verdana;
}
p{
color:yellow;
font-family:Verdana;
}
#logo{
width:25%;
height:10%;
background-color:black;
position:absolute;
}
#options{
width:5%;
height:10%;
margin-left:95%;
position:absolute;
background-color:black;
}
#menu{
width:100%;
height:10%;
margin-top:5.5%;
position:absolute;
background-color:gray;
}
#title{
margin-left:10px;
}
#home{
width:10%;
height:60%;
margin-top:1%;
margin-left:5%;
position:absolute;
background-color:blue;
border-style:outset;
text-align:center;
}
#packages{
width:10%;
height:60%;
margin-top:1%;
margin-left:30%;
position:absolute;
background-color:blue;
border-style:outset;
text-align:center;
}
#plugins{
width:10%;
height:60%;
margin-top:1%;
margin-left:55%;
position:absolute;
background-color:blue;
border-style:outset;
text-align:center;
}
#profile{
width:10%;
height:60%;
margin-top:1%;
margin-left:80%;
position:absolute;
background-color:blue;
border-style:outset;
text-align:center;
}
#mtext{
color:white;
font-family:Verdana;
margin-top:8%;
}
#infodiv{
width:50%;
height:89%;
margin-top:11%;
background-color:black;
position:absolute;
text-align:center;
}
#picturediv{
width:50%;
height:89%;
margin-top:11%;
margin-left:50%;
background-color:black;
position:absolute
}
#edu{
background-color:green;
border-style:groove;
border-width:5px;
border-color:yellow;
margin-top:10%;
}
#news{
margin-top:20%;
background-color:purple;
border-style:groove;
border-width:5px;
border-color:gray;
}
#soc{
margin-top:30%;
background-color:blue;
border-style:groove;
border-width:5px;
border-color:white;
}
#soca1{
width:1%;
height:1%;
position:absolute;
}
#soca2{
width:1%;
height:1%;
position:absolute;
}