body{
width:100%;
height:100%;
padding:0px;
margin:0px;
position:absolute;
background-color:yellow;
}
h1{
font-family:Verdana;
}
p{
font-family:Verdana;
color:gray;
}
/*
Fix center styling
*/
#center{
width:25%;
height:50px;
position:relative;
margin:auto;
padding:auto;
}
#titlebar{
font-size:300%;
position:relative;
}
#right{
width:25%;
height:50px;
position:absolute;
margin:0px;
padding:0px;
}
#left{
width:25%;
height:20px;
position:absolute;
margin-left:95%;
margin-top:0px;
margin-bottom:0px;
margin-right:0px;
padding:0px;
}
#menubar{
width:100%;
height:50px;
padding:0px;
margin-top:5px;
position:relative;
background-color:green;
}
#homed{
width:100px;
height:30px;
margin-left:10%;
margin-top:10px;
background-color:black;
position:absolute;
}
#transd{
width:100px;
height:30px;
margin-left:35%;
margin-top:10px;
background-color:black;
position:absolute;
}
#calend{
width:100px;
height:30px;
margin-left:60%;
margin-top:10px;
background-color:black;
position:absolute;
}
#profiled{
width:100px;
height:30px;
margin-left:85%;
margin-top:10px;
background-color:black;
position:absolute;
}
#midlink1{
width:75%;
height:30px;
margin-left:25%;
position:relative;
}
#midlink2{
width:75%;
height:30px;
margin-left:25%;
position:relative;
}
#midlink3{
width:75%;
height:30px;
margin-left:25%;
position:relative;
}
#midlink4{
width:75%;
height:30px;
margin-left:25%;
position:relative;
}
#profl{
color:gray;
}
a:visited{
color:green;
}
a:link{
color:green;
}
a:hover{
color:red;
}
#tpic{
width:200px;
height:200px;
position:relative;
}
#Infodiv{
width:40%;
height:500px;
margin-left:10%;
position:absolute;
}
#classdiv{
width:50%;
height:100%;
margin-left:50%;
position:absolute;
}
#Classdiv1{
background-color:green;
}
#Classdiv2{
background-color:blue;
}
#Classdiv3{
background-color:red;
}
#Classdiv4{
background-color:white;
}
#Classdiv5{
background-color:black;
}
#welback{
color:black;
}
#cpright{
color:black;
}
#copyright{
width:100%;
height:100px;
margin-top:60%;
position:relative;
}